.user-container {
  @include flex-parent(column, flex-start);
  align-self: stretch;
  padding: 20px 16px 16px;
  border-top: 1px solid #c4c4c4;
}
.user {
  @include flex-parent(column, flex-start);
  gap: 15px;
  padding: 0px;

  &-titles {
    @include flex-parent(column, flex-start);
    padding: 0px;

    &-name {
      @include flex-parent(row, center);
      gap: 8px;
      padding: 0px;

      & img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      & a {
        @include font-styles(SegoeUIBold, 16px, 24px, #166cd7);
        text-decoration: none;
      }

      & div {
        @include flex-parent(row, flex-start);
        gap: 10px;
        padding: 0px;
      }
    }

    &-login {
      @include flex-parent(row, flex-start);
      gap: 10px;
      padding: 0px 0px 0px 28px;

      & p {
        @include font-styles("Roboto", 16px, 24px, #6f7781);
      }
    }
  }

  &-details {
    @include flex-parent(column, flex-start);
    align-self: stretch;
    gap: 8px;
    padding: 0px 0px 0px 28px;

    &-bio {
      @include font-styles("Roboto", 14px, 18px, #24292f);
    }

    &-location {
      @include font-styles("Roboto", 12px, 16px, #6f7781);
    }
  }
}
