@import "./sass/mixins";
@import "./sass/repo";
@import "./sass/user";
@import "./sass/user-details";

.menu-container {
  @include flex-parent(row, center);
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 17px 20px;
  background-color: #24292f;

  @media (max-width: 640px) {
    padding: 10px 15px;
  }
}

.button-search {
  width: 242px;
  height: 37px;
  padding-left: 10px;
  border: 1px solid #d0d7de;
  border-radius: 5px;
  background-color: transparent;
  color: #d0d7de;

  @media (max-width: 640px) {
    width: 208px;
  }

  &::placeholder {
    @include font-styles("Segoe UI", 16px, 24px, #d0d7de);
  }
}

//#endregion MENU STYLES

//#region RESULTS STYLES
.results-container {
  @include flex-parent(column, flex-start);
  max-width: 950px;
  margin: 30px auto 60px auto;
  padding: 0px;

  header {
    padding: 0 16px 16px;

    h1 {
      @include font-styles("Roboto", 21px, 32px, #000000);
    }
  }
}
.results {
  @include flex-parent(column, flex-start);
  padding: 0px;
  width: 100%;
}

.pagination {
  @include flex-parent(row, center);
  justify-content: center;
  margin: 0 auto;
  gap: 4px;

  & a {
    padding: 8px 12px 7px;
    gap: 3px;
    text-decoration: none;

    &:nth-child(1) {
      @include font-styles("Roboto", 14px, 18px, #8d959f);
    }

    &:nth-child(3) {
      @include font-styles("Roboto", 14px, 18px, #166cd7);
    }
  }
}

.page-number {
  @include font-styles("Roboto", 16px, 24px, #24292f);
  width: 40px;
}

//#endregion RESULTS STYLES

//#region SEPARATION
.separation {
  @include flex-parent(column, flex-start);
  width: 100%;
  gap: 10px;
  padding: 0px;

  .separator {
    width: 100%;
    height: 1px;
    background: #c4c4c4;
  }
}
//#endregion SEPARATION

.loading-status {
  @include font-styles("Roboto", 16px, 16px, #6f7781);
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}

.loading-status-small {
  @include font-styles("Roboto", 12px, 20px, #6f7781);
  text-align: center;
  font-style: italic;
}

.error-message {
  @include font-styles("Roboto", 32px, 32px, #000000);
  margin-top: 100px;
  text-align: center;
}

.error-message-small {
  @include font-styles("Roboto", 12px, 20px, #000000);
  margin-top: 100px;
  text-align: center;
}
